# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Install env
.venv/
venv/

# Pytest
.pytest_cache/

# Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
